# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
workspace.xml
config.properties
mongodb.properties
out
gen
